:root {
  --primary-color: #00B0FF;
  --dark-color: #161617;
  --black-color: #111116;
  --secondary-color: #7F5DF5;
  --danger-color: #da552f;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 3rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--dark-color);
}

h1 {
  font-size: 2rem;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.row {
  position: relative;
}